rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {    
    match /{document=**} {
        allow read, write, create, update: if true;
    }


    // allow read, write: if false;

    function isCurrentUser(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    function isAuthenticated() {
      return request.auth != null;
    }

    function getDoc(collectionName, docId) {
      return get(/databases/$(database)/documents/$(collectionName)/$(docId))
    }

    function fieldIsSet(collectionName, docId, fieldName) {
      return fieldName in getDoc(collectionName, docId)
    }

    function keyIsTest(docId) {
      return docId.matches('^test-.*')
    }
  }
}